:root {
  --stimulus-container-size: 90vh;
  --choice-animation: fadein 0.3s linear forwards;
}

:fullscreen,
::backdrop {
  background-color: white;
}

html,
body  {
  height: 100%;
  width: 100%;
  background-color: white;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  height: 100vh;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
form > fieldset {
  max-width: 90%;
  min-width: 90%;
  margin-top: 5px;
}

#stimulus_container {
  aspect-ratio: 1/1;
  height: var(--stimulus-container-size);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1vh;
}

/* #dots_circle {
  opacity: 1;
  animation: fadeinout 1.5s linear forwards;
}

@-webkit-keyframes fadeinout {
  0%,
  100% {
    opacity: 0;
  }
  1%,
  99% {
    opacity: 1;
  }
}

@keyframes fadeinout {
  0%,
  100% {
    opacity: 0;
  }
  1%,
  99% {
    opacity: 1;
  }
} */

#color_choices {
  height: 100%;
  width: 100%;
  opacity: 1;
  animation: var(--choice-animation);
}

#reminders,
#tips {
  position: absolute;
  display: none;
  /* changed to flex in script */
  & img {
    visibility: hidden;
    max-height: 20vh;
  }
  justify-content: space-around;
  top: 65%;
  width: var(--stimulus-container-size);
  animation: var(--choice-animation);
}

#reminders {
  top: 31%;
  & span {
    visibility: hidden;
    font-size: 2.5em;
  }
}

#choice_feedback {
  display: none;
  visibility: hidden;
  position: absolute;
  top: 70%;
  width: var(--stimulus-container-size);
  text-align: center;
  animation: var(--choice-animation);
  font-size: 1.5em;
}

.shadow:active,
#shadow_active {
  filter: drop-shadow(4px 5px 5px black);
}

fieldset {
  border-radius: 1vh;
}

#likert {
  display: none;
  width: fit-content;
  justify-content: space-around;
  & fieldset {
    display: flex;
    margin-inline-start: 1.5em;
    margin-inline-end: 1.5em;
  }
  & p {
    transform: scale(2);
  }
}

#results_container {
  display: block;
}

a {
  background-color: white;
  margin-top: 1em;
  padding: 1em;
  border-radius: 1em;
}

#dots_circle,
#color_choices,
#results_container,
#opacity_level_label {
  display: none;
  visibility: hidden;
}
